<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MVC | Node.js</title>

    <!-- favicon -->
     <link rel="icon" href="/img/favicon.node.png" type="image/png">

    <!-- CSS -->
     <link rel="stylesheet" href="/css/style.css">

    <!-- JS -->
     <script src="/js/script.js" defer></script>


</head>
<body>
